
        body, html {
            height: 100%;
            margin: 0;
            font-family: "Outfit", sans-serif;
        }
        .Arriba {
            background-color: #ffffff;
        }
        .abajo {
            background-color: #00b2d0ff;;
        }

        a {
            text-decoration: none;
            color: white;
        }