
.table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 5px 15px;
  border-radius: 10px;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #00b2d0ff; 
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9; 
}


.table tr:hover {
  background-color: #f1f1f1; 
}


.btn-small {
  padding: 5px 10px;
  font-size: 14px;
}

.btn-warning, .btn-danger {
  margin-right: 5px;
}
